body{
    background:url(lion.jpeg);
}
h1{
color: blue;
}
h2{
color: aqua;
}
h3{
color:green;
}
h4{
color: orchid;
}
h5{
color:blueviolet;
}
h6{
color: grey;
}
.ordered-list{
border: red;
border-style: dotted;
}
.ordered-list h1{
color: dodgerblue;
}
.ordered-list ol{
list-style-type: lower-alpha;
}
.ordered-list ol li{
color: yellow;
}
.unordered-list{
border: rgb(17, 0, 255);
border-style: dotted;
}
.unordered-list h1{
color: lawngreen;
}
.unordered-list ul{
list-style-type: square;
}
.unordered-list ul li{
color: white;
}
div{
background-color: rgb(139, 0, 5);
}